VSF TR-10-1 compatibility

**sdpoker** indicates `a=mediaclk:sender` as an error.

```
The 'direct' reference for the mediaclk parameter should be used, as per ST 2110-10 Section 8.1. Found 'a=mediaclk:sender'.
```

ST 2110-10:2017 Section 8.1 says

> All stream descriptions shall have a media-level mediaclk attribute as per IETF RFC 7273 section 5.2. The
direct reference should be used.

ST 2110-10:2017 Section 2 says

> The keywords, "should" and "should not" indicate that, among several possibilities, one is recommended as
particularly suitable, without mentioning or excluding others; or that a certain course of action is preferred but
not necessarily required; or that (in the negative form) a certain possibility or course of action is deprecated
but not prohibited.

[VSF TR-10-1](https://vsf.tv/download/technical_recommendations/VSF_TR-10-1_2022-01-05.pdf) overrides ST 2110-10:2017 Section 8.1 saying

> If the Media Clock is asynchronous with respect to the Internal Clock, for example if Async
Media is present at the input of a Sender, the following form shall be used:
a=mediaclk:sender

Is there a room in **sdpoker** to handle this case?