SDP validation error for whitespace-only session name (s= ) contradicts RFC 8866

We encountered an issue where sdpoker flags an SDP file as invalid when the session name (s=) consists of a single whitespace character.
Example SDP snippet:
```
v=0
o=- 1776332091740 1776332091740 IN IP4 192.168.67.97
s= 
t=0 0
m=audio 30000 RTP/AVP 96
c=IN IP4 239.0.0.1/64
a=source-filter: incl IN IP4 239.0.0.1 192.168.67.97
```
sdpoker reports:
> Line 3: Every line of an SDP file must be of the form '<type>=<value>' with <type> being one character and no whitespace either side of the equals, as per RFC 4566 Section 5.

This error appears to be incorrect.

The `whitespace` is the value itself, as per: 

> The "s=" line MUST NOT be empty. If a session has no meaningful name, then "s= " or "s=-" (i.e., a single space or dash as the session name) is RECOMMENDED.

Source: https://www.rfc-editor.org/rfc/rfc8866#name-session-name-s

Seems we used not the latest version, in `0.4.0` this seems to work as expected. My bad!